<link rel="stylesheet" href="/static/general/bottom.css">

<div id="bottom">
  <hr>
  <div id="footer">
    <div>
      <a
        href="/experience"
        rel="noopener noreferrer"
      >
        Job Experience
      </a>
      <p>•</p>
      <a
        href="https://ojs.aaai.org/index.php/AIIDE/article/view/21974/21743"
        rel="noopener noreferrer"
      >
        Research
      </a>
      <p>•</p>
    </div>
    <div>
      <a
        href="https://bignall.tumblr.com/"
        rel="noopener noreferrer"
      >
        Art
      </a>
      <p>•</p>
      <a
        href="https://soundcloud.com/bignalled"
        rel="noopener noreferrer"
      >
        Music
      </a>
      <p>•</p>
    </div>
    <div>
      <a
        href="/portfolio"
        rel="noopener noreferrer"
      >
        Games
      </a>
      <p>•</p>
      <a
        href="https://github.com/Camden-png/"
        rel="noopener noreferrer"
      >
        Code
      </a>
    </div>
  </div>
</div>
