<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body>
  {% include "hack.njk" %}

  <div id="middle">
    <div>
      <div id="side">
        <img src="/static/portfolio/media/Camden.gif">
        <p><b>FUNI STUDIOS</b></p>
      </div>
      <div id="links">
        <a href="{{ back_link | default('/portfolio.html') }}"><b>Back ⤶</b></a>
        {% if play_link %}<a href="{{ play_link }}"><b>Play ▶︎</b></a>{% endif %}
      </div>
    </div>

    <hr>

    <div id="info">
      <u><h1>{{ game_title }}</h1></u>
      <p>
        <span><b>About:</b></span>
        <span>{{ about }}</span>
      </p>
      <p>
        <span><b>Roles:</b></span>
        <span>{{ roles }}</span>
      </p>
      {% if team %}
      <p>
        <span><b>Team:</b></span>
        <span>{{ team }}</span>
      </p>
      {% endif %}
      {% if engine %}
      <p>
        <span><b>Engine:</b></span>
        <span>{{ engine }}</span>
      </p>
      {% endif %}
      {% if jam %}
      <p>
        <span><b>Game Jam:</b></span>
        <span>{{ jam }}</span>
      </p>
      {% endif %}
    </div>

    <div id="content">
      {{ content | safe }}
    </div>

    <div id="spacer"></div>

    {% if itch_link %}
    <u><h2 id="itch-header">PLAY ON ITCH</h2></u>
    <div id="itch">
      <iframe frameborder="0" src="{{ itch_link }}?bg_color=f5f5f5&border_color=f5f5f5"></iframe>
      <a href="{{ play_link }}" rel="noopener noreferrer"></a>
    </div>
    {% endif %}

    {% if soundcloud_link %}
    <u><h2 id="ost-header">OST</h2></u>
    <div id="soundcloud">
      <iframe allow="autoplay" src="https://w.soundcloud.com/player/?url={{ soundcloud_link }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&show_playcount=false"></iframe>
    </div>
    {% endif %}

  </div>

  {% include "bottom.njk" %}
</body>

</html>
