<link rel="stylesheet" href="/static/portfolio/hack.css">

<div id="hackright">
  <img class="hack" src="/static/portfolio/media/Hack.gif">
</div>

<div id="hackleft">
  <img class="hack" src="/static/portfolio/media/Hack.gif">
</div>

<script src="/static/portfolio/hack.js"></script>
