* { font-family: "Varela Round", sans-serif; }

img { pointer-events: none; }

html, body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #1D2B53
}

#camden { margin-bottom: 10px; }

#name {
    width: 50%;
    font-size: 40px;
    margin-bottom: 10px;
}

#about {
    width: 80%;
    font-size: 28px;
    margin-bottom: 20px;
}

#socials * {
    width: 90%;
    max-width: 80px;
}

#socials {
    width: 50%;
    max-width: 600px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

#buttons {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#buttons a {
    text-decoration: none;
    color: inherit;
}

.press, .cancel {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 4px;

    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#button_1 {
    background-color: gray;
    transform: scale(0.65);
    opacity: 0.2;
}

#button_2 { background-color: #FFB347; }

#button_3 { background-color: #43C95F; }

#resume_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

#resume_a {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#resume { width: 100%; }

.info {
    width: 70%;
    max-width: 500px;
    margin-top: 8px;
    font-size: 22px;
    text-align: center;
}

#skills_container {
    width: 340px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#first_row { margin-top: 15px; }

.row {
    color: black;
    font-size: 22px;
    margin-right: 34px;
}

.language {
    width: 178px;
    margin-right: 4px;
    text-align: right;
    display: inline-block;
}

h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
}

#experiences {
    width: 90%;
    min-width: 200px;
    max-width: 1600px;

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    gap: 20px;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 10px;
    margin-bottom: 80px;

    font-size: 22px;
}

.gray { color: lightgray; }

.dark {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.header { width: 100%; }

.title { font-weight: bold; }

.spacer { margin-bottom: 80px; }

.job {
    width: 95%;
    max-width: 650px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    align-self: baseline;
}

.job img { border-radius: 10px; }

hr {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.points {
    width: 100%;
    margin-left: 32px;
    line-height: 1.8;
}

#side_by_side {
    gap: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#level { width: 98%; }

#alera { width: 40%; }

#legacy {width: 87%; }

#order { width: 40%; }

#present1 { width: 95%; }

#present2 { width: 100%; }

#less { width: 78%; }

.image { width: 100%; }

#totb { margin-top: auto; }

.video-resize {
    width: 70%;
    max-width: 700px;
    min-width: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.video-responsive {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 1025px) {
    #buttons {
        width: 400px;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .header {
        text-align: center;
        width: 70%;
    }
    .header .gray { display: none; }
    .dark { width: 80%; }
    #alera {width: 70%; }
    #order {width: 100%; }
}

@media (max-width: 415px) {
    .row {margin-right: 0px; }
    .info { width: 85%; }
    .video-resize { width: 85%; }
    #resume_a { width: 240px; }
}

.social { transition: all .2s ease-in-out; }

.social:hover { transform: scale(1.2); }

.press { transition: all .2s ease-in-out; }

.press:hover { transform: scale(1.1); }

.zoom { transition: all .2s ease-in-out; }

.zoom:hover { transform: scale(1.08); }

#resume_a { transition: all .2s ease-in-out; }

#resume_a:hover { transform: scale(1.1); }
