* { font-family: "Varela Round", sans-serif; }

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
}

#camden { margin-bottom: 10px; }

#name {
    width: 50%;
    font-size: 40px;
    margin-bottom: 10px;
}

#about {
    width: 80%;
    font-size: 28px;
    margin-bottom: 35px;
}

#socials * {
    width: auto;
    height: 45px;
}

#socials {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gemleft, #gemright {
    top: 500px;
    position: absolute;
    pointer-events: none;
}

#gemleft { left: 0px; }

#gemright { right: 0px; }

h1 {
    color: black;
    font-size: 32px;
}

.row {
    color: black;
    font-size: 22px;
    margin-right: 34px;
}

.language {
    width: 108px;
    width: 178px;
    margin-right: 4px;
    text-align: right;
    display: inline-block;
}

.gray { color: lightgray; }

.dark {
    margin-bottom: 12px;
    text-align: center;
    color: gray;
}

.small { font-size: 16px; }

.spacer { margin-bottom: 80px; }

#resume, #camden { pointer-events: none; }

#resume { margin-top: 8px; }

.job {
    width: 80%;
    max-width: 650px;
    margin-top: 20px;
    margin-bottom: 24px;
    color: black;
    font-size: 22px;
}

.last_job { margin-bottom: 0px; }

.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title { font-weight: bold; }

hr {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.points {
    width: 100%;
    margin-left: 16px;
}

li { padding-bottom: 8px; }

.last_li { padding-bottom: 0px; }

#side_by_side {
    gap: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#level { width: 98%; }

#alera { width: 50%; }

#present1 { width: 80%; }

#present2 { width: 100%; }

#less { width: 78%; }

.image { width: 100%; }

#totb { margin-top: auto; }

#order { width: 60%; }

.info {
    width: 80%;
    color: black;
    font-size: 22px;
    margin-top: 8px;
    text-align: center;
}

.video-resize {
    width: 80%;
    max-width: 400px;
    margin-top: 6px;
}

.video-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.video-responsive {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#bottom {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
    margin-right: auto;
    background-color: black;
}

#inside * {
    width: auto;
    height: 60px;
}

#inside {
    gap: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#camden, #name, #about, #socials, #middle, #inside { visibility: hidden; }

#gemleft, #gemright { display: none; }

@keyframes appear {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

@keyframes disappear {
  0% { opacity: 100%; }
  100% { opacity: 0%; }
}

@media (min-width: 472px) {
    .info { width: 380px; }
}

@media (min-width: 1000px) {
    #inside { gap: 100px };
}

@media (max-width: 552px) {
    .header {text-align: center;}
    .job2 { width: 60%; }
    .job3, .job4 { width: 80%; }
    .dark { font-size: 14px; }
}
