* { font-family: "Varela Round", sans-serif; }

img { pointer-events: none; }

html, body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
}

#gemleft, #gemright {
    top: 500px;
    position: absolute;
}

#camden { margin-bottom: 10px; }

#name {
    width: 50%;
    font-size: 40px;
    margin-bottom: 10px;
}

#about {
    width: 80%;
    font-size: 28px;
    margin-bottom: 20px;
}

#socials * {
    width: 90%;
    max-width: 80px;
}

#socials {
    width: 50%;
    max-width: 600px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

#buttons {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#buttons a {
    text-decoration: none;
    color: inherit;
}

.press, .cancel {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 4px;

    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#button_1 { background-color: #FDFD96; }

#button_2 {
    background-color: gray;
    transform: scale(0.65);
    opacity: 0.2;
}

#button_3 { background-color: #43C95F; }

#gemleft { left: 0px; }

#gemright { right: 0px; }

h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
}


.gray { color: lightgray; }

.spacer { margin-bottom: 80px; }


#message {
    width: 70%;
    max-width: 880px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-bottom: 80px;

    color: white;
    background-color: #1982FC;

    line-height: 2;
    font-size: 30px;
}

@media (max-width: 1025px) {
    #buttons {
        width: 400px;
        flex-direction: column;
    }
}

@media (max-width: 1625px) {
    #gemleft, #gemright { display: none; }
}

@media (max-width: 1080px) {
    #message { font-size: 22px; }
}

.social { transition: all .2s ease-in-out; }

.social:hover { transform: scale(1.2); }

.press { transition: all .2s ease-in-out; }

.press:hover { transform: scale(1.1); }

#resume_a { transition: all .2s ease-in-out; }

#resume_a:hover { transform: scale(1.035); }
