---
layout: framework.njk
title: Camden Pettijohn
stylesheet: /static/portfolio/framework.css
permalink: /boba.html
game_title: Bubble Trouble Boba Shop
about: '"Bubble Trouble Boba Shop" stars Goth Goat & Kawaii Kitty, who started their own boba shop but are now faced with an exponentially growing number of orders! Help this adorably opposite aesthetics couple serve drinks & pay bills!'
roles: game designer (secondary), artist, musician (secondary)
team: Camden, Yi, Athena, Michael, Morgan
engine: Unity (C#)
play_link: https://devirtualized.itch.io/bubble-trouble-boba-shop
back_link: /portfolio.html#boba
itch_link: https://itch.io/embed/1378192
soundcloud_link: https%3A//api.soundcloud.com/tracks/1260886525
---
