---
title: Camden Pettijohn
stylesheet: /static/experience/experience.css
permalink: /experience.html

top_color: "#1D2B53"
about: Software Engineer, AI & Full-Stack Developer
---

<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body>
  {% include "top.njk" %}

  <div id="resume">
    <h1>My Resume</h1>
    <a href="/static/Experience/media/Resume.pdf">
      <img src="/static/Experience/media/Resume.png" class="shadow">
    </a>
    <p>Check out my qualifications above or below!</p>
  </div>

  <h1>Experience</h1>

  <div id="experiences">
    <div id="sde2" class="job">
      <div class="header">
        <span>SDE II @ Amazon Lab126</span>
        <span>|</span>
        <span>2022 - present</span>
      </div>

      <hr>

      <div class="side-by-side shadow2">
        <img id="alexa" src="/static/experience/media/Alexa.png">
        <img id="nova" src="/static/experience/media/NovaSonic.png">
      </div>

      <ul>
        <li>
          <span>Building speech recognition benchmarking solutions for</span>
          <span id="alexa-text">Alexa</span>
          <span>&</span>
          <span id="nova-text">Nova Sonic</span>
        </li>
        <li>Designing scalable backend services & LLM-powered automation for rapid model evaluation</li>
        <li>Driving cross-team projects from design to delivery across engineering & science spaces</li>
        <li>Designing <b>Python</b> & <b>Java</b> backend APIs to support scalable benchmarking & test automation</li>
        <li>Mentoring interns, engineers, QAs & supporting their technical growth & career development</li>
      </ul>
    </div>

    <div id="guest-speaker" class="job">
      <div class="header">
        <span class="title">Guest Speaker @ Colleges & High Schools</span>
        <span class="gray">|</span>
        <span>2022 - present</span>
      </div>

      <hr>

      <img id="present2" class="shadow2" src="/static/experience/media/Present2.png">

      <ul>
        <li>
          <span>Presented</span>
          <span>
            <a
              href="https://player.vimeo.com/video/1128399040"
              rel="noopener noreferrer"
            >
              Alexa, Astro & Nova Sonic, Oh My!
            </a>
          </span>
          <span>
            a technical talk to <b>30+</b> high school students on Amazon's AI voice systems,
            discussing speech recognition benchmarking
          </span>
        </li>
        <li>
          <span>
            Shared game design knowledge through presentations to audiences of <b>40+</b> students,
            covering topics like
          </span>
          <span>
            <a
              href="/static/experience/media/TOTB.pdf"
              rel="noopener noreferrer"
            >
              Thinking Outside the Box
            </a>
          </span>
        </li>
      </ul>
    </div>

    <div id="game-intern" class="job">
      <div class="header">
        <span>
          <span>AI Game Research Intern</span>
          <span>@</span>
          <span>
            <a
              href="https://singlab.org/"
              rel="noopener noreferrer"
            >
              SING Lab
            </a>
          </span>
        </span>
        <span>|</span>
        <span>2022</span>
      </div>

      <hr>

      <div id="game-images" class="side-by-side">
        <img id="level" class="shadow2" src="/static/experience/media/Level.png">
        <img id="alera" src="/static/experience/media/Alera.png">
      </div>
      <p class="tagline">One of the many levels & characters I designed</p>

      <ul>
        <li>
          <span>Conducted research on AI-driven game systems &</span>
          <span>
            <a
              href="https://ojs.aaai.org/index.php/AIIDE/article/view/21974/21743"
              rel="noopener noreferrer"
            >
              co-authored a paper
            </a>
          </span>
          <span>on creating believable NPCs</span>
        </li>
        <li>Developed core gameplay systems in Unity (<b>C#</b>), enabling later integration with the AI systems</li>
        <li>Created game design documents, gameplay specifications & UI / UX mockups in Figma</li>
        <li>Created hand-drawn NPC portraits, level layouts & UI assets</li>
      </ul>
    </div>

    <div id="web-intern" class="job">
      <div class="header">
        <span class="title">Full-Stack Web Development Intern @ UC Davis</span>
        <span class="gray">|</span>
        <span>2021</span>
      </div>

      <hr>

      <img id="order" src="/static/experience/media/Order.png">
      <p class="tagline">My order & pickup system in action</p>

      <ul>
        <li>Collaborated on a full-stack Django web application for UC Davis' food bank</li>
        <li>Implemented backend services & responsive UI from project specifications</li>
        <li>Contributed to supporting students facing food insecurity</li>
      </ul>
    </div>

    <div id="club-director" class="job">
      <div class="header">
        <span class="title">Game Development Club Director @ UC Davis</span>
        <span class="gray">|</span>
        <span>2022</span>
      </div>

      <hr>

      <img id="present1" class="shadow2" src="/static/experience/media/Present.png">
      <p class="tagline">I am on the right with the yellow hat</p>

      <ul>
        <li>Mentored <b>40+</b> active club members in programming, game design & development</li>
        <li>Organized weekly workshops, entertaining presentations & game jams</li>
        <li>Coordinated guest speakers to connect members with professionals</li>
        <li>Helped members develop portfolios, technical skills & confidence pursuing careers in games</li>
      </ul>
    </div>
  </div>

  <h1>2020 Demo Reel</h1>
  <div class="video-resize">
      <div class="video-container shadow">
          <iframe class="video-responsive" src="https://www.youtube.com/embed/6Q6Jj71v2Ww"></iframe>
      </div>
  </div>
  <p id="info">A demo of my old 2020 coding projects & art! So cute!</p>

  {% include "bottom.njk" %}
</body>

</html>
