---
layout: framework.njk
title: Camden Pettijohn
stylesheet: /static/portfolio/framework.css
permalink: /funny_game.html
game_title: Funny Game
about: '"Funny Game" is a colorful puzzle adventure inspired by the Flash games of the early 2000s - solve three quirky puzzles chock full of wacky art & music in this love letter to the golden age of web games!'
roles: programmer, game designer, artist, musician (secondary)
team: Camden, Grant
engine: Godot (GDScript)
play_link: https://camden-png.itch.io/funny-game
back_link: /portfolio.html#funny-game
itch_link: https://itch.io/embed/1627869
soundcloud_link: https%3A//api.soundcloud.com/playlists/soundcloud%253Aplaylists%253A1603001563
---
