---
title: Camden Pettijohn
stylesheet: /static/index/index.css

about: Programmer, Artist & Coffee Drinker
---

<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body>
  <img id="gemleft" class="shadow2" src="static/index/media/GemLeft.gif">
  <div id="gemright-wrapper" class="shadow2">
    <img id="gemright" src="static/index/media/GemRight.gif">
  </div>

  {% include "top.njk" %}

  <div id="message">
    <p>Hey there! My name is Camden 👋</p>
    <p>
      I am an SDE II @ Amazon Lab126, where I build software &
      automation to evaluate & improve Amazon's AI models like Alexa
    </p>
    <p>
      I graduated from the UC Davis with a B.S. in Computer Science 🖥️
    </p>
    <p>
      I have years of experience writing code, creating websites,
      making video games, digital art & more! 🎮
    </p>
    <p>
      If you are interested in my job experience, press the 🟡 button
    </p>
    <p>
      & if you want to see my games, hit the 🟢 button!
    </p>
    <p>
      Thanks 🤗
    </p>
  </div>

  <div id="spacer"></div>

  {% include "bottom.njk" %}
</body>

</html>
