---
layout: framework.njk
title: Camden Pettijohn
stylesheet: /static/portfolio/framework.css
permalink: /insatiable.html
game_title: Insatiable
about: '"Insatiable" stars Allowen the vampire, who desires a treat after his century-long slumber... but, without humans, will he ever satisfy his ravenous hunger?'
jam: "Mini Jam #103"
roles: programmer, game designer, pixel artist, musician
team: Camden, Grant, Erra
engine: Pico-8 (Lua)
play_link: https://camden-png.itch.io/insatiable
back_link: /portfolio.html#insatiable
itch_link: https://itch.io/embed/1469886
---

<link rel="stylesheet" href="/static/insatiable/insatiable.css">

<div class="video-resize">
  <div class="video-container">
    <iframe class="video-responsive" src="https://www.youtube.com/embed/MKJAo315opg"></iframe>
  </div>
</div>

<div id="highlights">
  <p>
    <span><b>Highlights</b> from my design document include...</span>
  </p>

  <ul>
    <li>
      <span>Incorporating the limitation of</span>
      <span><i>you are your own worst enemeny</i></span>
    </li>
    <li>
      <span>Incorporating the theme of</span>
      <span><i>darkness</i></span>
    </li>
    <li>
      <span>Enemy & puzzle design</span>
    </li>
  </ul>
</div>

<u>
  <h2>Game Design</h2>
</u>

<div id="summary">
  <p>
    Given the Mini Jam's theme of <b>Darkness</b>, I pulled from my love of cryptids &
    creatures of the night to make the player character a vampire: the <b>Dark Lord Allowen</b>
  </p>
  <p>
    The jam's limitation, <b>You Are Your Worst Enemy</b>, meant no enemy should pose a real threat to Allowen;
    instead, his only downfall should be a flaw of his own character, reflected in both narrative & gameplay
  </p>
  <p>Hence, Allowen, a vampire with an insatiable & self-destructive appetite, was born!</p>
</div>

<img id="talk" src="/static/insatiable/media/Talk.gif">
<p class="tagline">Example of the theme & narrative</p>

<p id="mechanic1">
  To make Allowen feel like an unstoppable force (when properly fed), I employed "<b>Game Feel</b>" through his
  first mechanic: morphing into a wall of billowing darkness that can lunge forward & engulf foes by
  pressing <span class="red">Z</span>!
</p>
<img id="eat" src="/static/insatiable/media/Eat.gif">
<p class="tagline">
  Lunge ability has 3x uses, as denoted by the <span class="red">red</span> tokens
</p>

<p id="mechanic2">
  Allowen's self-destructive appetite is represented by a constantly decreasing hunger bar, creating urgency;
  his second mechanic lets him momentarily pause his cravings before having to munch on more monsters to survive
  by pressing <span class="blue">X</span>!
</p>
<img id="pause" src="/static/insatiable/media/Pause.gif">
<p class="tagline">
  Pause ability has 3x uses, as denoted by the <span class="blue">blue</span> tokens
</p>

<u>
  <h2>Enemy Design</h2>
</u>

<div id="enemies">
  <p>
    To account for Allowen's hunger & movement abilities, certain foes were designed with special characteristics...
  </p>

  <div>
    <img src="static/insatiable/media/Pinky.gif">
    <div>
      <h2>Pinky</h2>
      <p>
        Pinkies cannot move, making them perfect for a quick snack to reset the hunger bar by
        <span class="red">lunging</span>
      </p>
    </div>
  </div>

  <div>
    <img src="static/insatiable/media/Squib.gif">
    <div>
      <h2>Squib</h2>
      <p>
        Squibs are fast, making them difficult to catch; they incentivize the <span class="blue">pause</span>
        ability, giving Allowen more time to chase them down without immediately dying of hunger
      </p>
    </div>
  </div>

  <div>
    <img src="static/insatiable/media/Ducky.gif">
    <div>
      <h2>Ducky</h2>
      <p>While not as speedy as Squibs, Duckies can evade Allowen, incentivizing either ability to close the gap</p>
    </div>
  </div>
</div>

<u>
  <h2>Level / Puzzle Design</h2>
</u>

<div id="puzzle-design">
  <p>
    Together, the two abilities & different enemies create a strategic experience where players must decide
    when to use their finite powers & who to use them on
  </p>

  <p><i>Do I lunge at the Squib now, or save that ability for later?</i></p>

  <p>
    To further compel this, enemies are placed like pieces on a chess board, tying progression to critical
    thinking & resource management
  </p>
</div>

<img id="map" src="static/insatiable/media/Map.png">
<p class="tagline">My first sketches of the enemies!</p>

<p id="level2-summary">
  On level 2 (as seen in the original sketch above) there is a large gap between the first and second enemies...
  Allowen would die of hunger before reaching the Pinky without using his <span class="blue">pause</span> ability!
</p>
